.hero {
  position: relative;
  width: 100%;
}

.heroImage {
  height: 40vh;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  left: 0;
}

.heroText {
  position: absolute;
  margin-top: 10vh;
  margin-left: 35rem;
  width: 50vw;
}

/* @media only screen and (min-width: 768px) {
  .heroImage {
    width: 100%;
    height: auto;
    left: 0;
  }

  .textBlock {
    width: 35%;
    margin-top: 12vh;
    margin-right: 8rem;
  }

  .textBlock>h1 {
    font-size: 3.4rem;
  }

  .textBlock>h3 {
  font-weight: 400;
  font-size: large;
}

  .textBlock>p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .textBlock button {
    width: 40%;
    font-size: 1rem;
  }
} */